## Build the perfect model to save Hamid !

### Step 1: Explore the Dataset

In [143]:
import pandas as pd
import numpy as np

df=pd.read_csv("./bricolo_company_train.csv")
test_df=pd.read_csv("./bricolo_company_test.csv")
df= df.drop_duplicates()
df=df.drop("id",axis=1)

In [144]:
for col in df.columns:
    num_missing = df[col].isnull().sum()
    print(col, num_missing)

satisfied 1097
evaluation 0
projects 0
work_hours 0
total_time_spent 0
had_accident 0
still_working 0
got_promoted 0
department 0
salary_range 0

In [145]:
# here we wanted to extract all the project names one by one
def extract_project_names(names):
  names = ','.join(names).split(',')

  # Remove leading/trailing whitespaces from each name
  names = [name.strip() for name in names]

  # Get unique names using a set
  unique_names = set(names)
  return  list(unique_names)

unique_names= extract_project_names(df.projects.unique())



  

for v, name in enumerate(unique_names):
    df.insert(column=name, loc=v + 7, value=np.array([0 for i in range(df.shape[0])]))

    for i, row in enumerate(df.values):
        if row[2].find(name) != -1:
            df.iloc[i, v + 7] = 1
        else:
            df.iloc[i, v + 7] = 0


df

,satisfied,evaluation,projects,work_hours,total_time_spent,had_accident,still_working,Raid Dorms Cook,SecCamp,Smurfs,AiFest23,Salah lFrog,WebCamp,Drug Design,Farmy,Penalizing System,got_promoted,department,salary_range
0,0.1,0.84,"WebCamp,Raid Dorms Cook,Salah lFrog,AiFest23, ...",250,4,0,1,1,0,0,1,1,1,0,0,1,0,product_mng,low
1,0.57,0.68,"Penalizing System,Drug Design,WebCamp,AiFest23",154,3,1,0,0,0,0,1,0,1,1,0,1,0,management,medium
2,0.39,0.48,"Drug Design, AiFest23",154,3,0,1,0,0,0,1,0,0,1,0,0,0,technical,low
3,0.91,0.68,"AiFest23,Smurfs ,SecCamp ,Drug Design",132,4,0,0,0,1,1,1,0,0,1,0,0,0,IT,medium
4,0.82,0.97,"Smurfs ,Farmy, SecCamp , Drug Design ,WebCamp",263,5,0,1,0,1,1,0,0,1,1,1,0,0,technical,medium
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10494,0.52,0.96,"SecCamp ,AiFest23,SecCamp ,Salah lFrog",246,3,0,0,0,1,0,1,1,0,0,0,0,0,support,low
10495,0.49,0.65,"WebCamp, Drug Design ,Drug Design,SecCamp",233,7,0,0,0,1,0,0,0,1,1,0,0,0,sales,medium
10496,0.66,0.73,"Farmy,Smurfs,SecCamp , Drug Design ,Smurfs",249,2,0,0,0,1,1,0,0,0,1,1,0,0,support,medium
10497,0.79,1.00,"SecCamp ,Raid Dorms Cook,Farmy,Drug Design",218,5,0,1,1,1,0,0,0,0,1,1,0,0,sales,low
10498,0..98,0.86,"AiFest23,Penalizing System",219,4,0,0,0,0,0,1,0,0,0,0,1,0,sales,low

### Step 2: Preprocessing phase

In [146]:
from sklearn import preprocessing
label_encoder = preprocessing.LabelEncoder()
one_hot_encoder = preprocessing.OneHotEncoder(sparse=True)


label_mapping = {
    'low': 0,
    'medium': 1,
    'high': 2
}
# we use label encoding for salaray range and department
df["salary_range"] = df["salary_range"].map(label_mapping)

df=df.join(pd.get_dummies(df.department))


df

,satisfied,evaluation,projects,work_hours,total_time_spent,had_accident,still_working,Raid Dorms Cook,SecCamp,Smurfs,...,IT,RandD,accounting,hr,management,marketing,product_mng,sales,support,technical
0,0.1,0.84,"WebCamp,Raid Dorms Cook,Salah lFrog,AiFest23, ...",250,4,0,1,1,0,0,...,0,0,0,0,0,0,1,0,0,0
1,0.57,0.68,"Penalizing System,Drug Design,WebCamp,AiFest23",154,3,1,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0
2,0.39,0.48,"Drug Design, AiFest23",154,3,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,1
3,0.91,0.68,"AiFest23,Smurfs ,SecCamp ,Drug Design",132,4,0,0,0,1,1,...,1,0,0,0,0,0,0,0,0,0
4,0.82,0.97,"Smurfs ,Farmy, SecCamp , Drug Design ,WebCamp",263,5,0,1,0,1,1,...,0,0,0,0,0,0,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10494,0.52,0.96,"SecCamp ,AiFest23,SecCamp ,Salah lFrog",246,3,0,0,0,1,0,...,0,0,0,0,0,0,0,0,1,0
10495,0.49,0.65,"WebCamp, Drug Design ,Drug Design,SecCamp",233,7,0,0,0,1,0,...,0,0,0,0,0,0,0,1,0,0
10496,0.66,0.73,"Farmy,Smurfs,SecCamp , Drug Design ,Smurfs",249,2,0,0,0,1,1,...,0,0,0,0,0,0,0,0,1,0
10497,0.79,1.00,"SecCamp ,Raid Dorms Cook,Farmy,Drug Design",218,5,0,1,1,1,0,...,0,0,0,0,0,0,0,1,0,0
10498,0..98,0.86,"AiFest23,Penalizing System",219,4,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0

In [147]:
# here we drop the unecessary features and we also label encode the 
df= df.drop("projects",axis=1)
df=df.drop("department",axis=1)

In [148]:
df.salary_range

0        0
1        1
2        0
3        1
4        1
        ..
10494    0
10495    1
10496    1
10497    0
10498    0
Name: salary_range, Length: 10499, dtype: int64

In [149]:
# convert 0.......smth to 0.smth
import re
df["satisfied"] = df["satisfied"].apply(lambda x: float(re.sub(r'\.+(?=\d)', '.', x)) if isinstance(x, str) else x)

df["satisfied"].unique()

array([0.1       , 0.57      , 0.39      , 0.91      , 0.82      ,
       0.92      , 0.44      , 0.7       , 0.88      , 0.17      ,
              nan, 0.09      , 0.32      , 0.8       , 0.69      ,
       0.55      , 0.45      , 0.96      , 0.68      , 0.72      ,
       0.74      , 0.64      , 0.73      , 0.61      , 0.21      ,
       0.87      , 0.53      , 0.75      , 0.93      , 0.65      ,
       0.84      , 0.35      , 0.77      , 0.86      , 0.43      ,
       0.66      , 0.46      , 0.6       , 0.19      , 0.13      ,
       0.9       , 0.42      , 0.38      , 0.48      , 0.24      ,
       0.81      , 1.4532006 , 0.15      , 0.89      , 0.78      ,
       0.79      , 0.12      , 0.54      , 0.83      , 0.76      ,
       0.49      , 0.63      , 0.58      , 0.37      , 0.52      ,
       0.47      , 0.97      , 0.85      , 0.59      , 0.5       ,
       0.51      , 0.11      , 0.41      , 0.31      , 0.18      ,
       0.27      , 0.62      , 0.71      , 0.14      , 0.99      ,
       0.4       , 0.98      , 0.22      , 0.56      , 0.36      ,
       0.95      , 0.94      , 0.34      , 0.16      , 0.23      ,
       1.        , 0.2       , 0.26      , 0.28      , 0.25      ,
       0.67      , 0.3       , 0.33      , 0.29      , 1.31799963,
       1.34625317, 1.46945369, 1.23868607, 1.27492909, 1.45822475,
       1.44343259, 1.37030272, 1.27159057, 1.41480156, 1.31839641,
       1.2602134 , 1.49445775, 1.36250612, 1.36037805, 1.48944692,
       1.36633722, 1.46092774, 1.26192933, 1.31081956, 1.44045039,
       1.43619558, 1.35745593, 1.37875618, 1.36832827, 1.40582829,
       1.45541534, 1.46230228, 1.39713543, 1.4283267 , 1.24673843,
       1.49018746, 1.31574809, 1.27697302, 1.23404605, 1.44066638,
       1.30743688, 1.31837578, 1.32571474, 1.38833799, 1.46741004,
       1.23859831, 1.27314858, 1.369813  , 1.26028276, 1.25370517,
       1.35393684])

### Step 3: Now, comes the modeling !

In [150]:
df

,satisfied,evaluation,work_hours,total_time_spent,had_accident,still_working,Raid Dorms Cook,SecCamp,Smurfs,AiFest23,...,IT,RandD,accounting,hr,management,marketing,product_mng,sales,support,technical
0,0.10,0.84,250,4,0,1,1,0,0,1,...,0,0,0,0,0,0,1,0,0,0
1,0.57,0.68,154,3,1,0,0,0,0,1,...,0,0,0,0,1,0,0,0,0,0
2,0.39,0.48,154,3,0,1,0,0,0,1,...,0,0,0,0,0,0,0,0,0,1
3,0.91,0.68,132,4,0,0,0,1,1,1,...,1,0,0,0,0,0,0,0,0,0
4,0.82,0.97,263,5,0,1,0,1,1,0,...,0,0,0,0,0,0,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10494,0.52,0.96,246,3,0,0,0,1,0,1,...,0,0,0,0,0,0,0,0,1,0
10495,0.49,0.65,233,7,0,0,0,1,0,0,...,0,0,0,0,0,0,0,1,0,0
10496,0.66,0.73,249,2,0,0,0,1,1,0,...,0,0,0,0,0,0,0,0,1,0
10497,0.79,1.00,218,5,0,1,1,1,0,0,...,0,0,0,0,0,0,0,1,0,0
10498,0.98,0.86,219,4,0,0,0,0,0,1,...,0,0,0,0,0,0,0,1,0,0

In [151]:
# filling out missing data for the satisfied column

def fill_Nan(x):
  if( pd.isnull(x) ):return df.satisfied.mean()
  return x

df.satisfied=df.satisfied.apply(fill_Nan)
for col in df.columns:
    num_missing = df[col].isnull().sum()
    print(col, num_missing)

satisfied 0
evaluation 0
work_hours 0
total_time_spent 0
had_accident 0
still_working 0
Raid Dorms Cook 0
SecCamp 0
Smurfs 0
AiFest23 0
Salah lFrog 0
WebCamp 0
Drug Design 0
Farmy 0
Penalizing System 0
got_promoted 0
salary_range 0
IT 0
RandD 0
accounting 0
hr 0
management 0
marketing 0
product_mng 0
sales 0
support 0
technical 0

In [154]:
print(df.satisfied.mean())
df.satisfied.unique()

0.6180265476322824

array([0.1       , 0.57      , 0.39      , 0.91      , 0.82      ,
       0.92      , 0.44      , 0.7       , 0.88      , 0.17      ,
       0.61802655, 0.09      , 0.32      , 0.8       , 0.69      ,
       0.55      , 0.45      , 0.96      , 0.68      , 0.72      ,
       0.74      , 0.64      , 0.73      , 0.61      , 0.21      ,
       0.87      , 0.53      , 0.75      , 0.93      , 0.65      ,
       0.84      , 0.35      , 0.77      , 0.86      , 0.43      ,
       0.66      , 0.46      , 0.6       , 0.19      , 0.13      ,
       0.9       , 0.42      , 0.38      , 0.48      , 0.24      ,
       0.81      , 1.4532006 , 0.15      , 0.89      , 0.78      ,
       0.79      , 0.12      , 0.54      , 0.83      , 0.76      ,
       0.49      , 0.63      , 0.58      , 0.37      , 0.52      ,
       0.47      , 0.97      , 0.85      , 0.59      , 0.5       ,
       0.51      , 0.11      , 0.41      , 0.31      , 0.18      ,
       0.27      , 0.62      , 0.71      , 0.14      , 0.99      ,
       0.4       , 0.98      , 0.22      , 0.56      , 0.36      ,
       0.95      , 0.94      , 0.34      , 0.16      , 0.23      ,
       1.        , 0.2       , 0.26      , 0.28      , 0.25      ,
       0.67      , 0.3       , 0.33      , 0.29      , 1.31799963,
       1.34625317, 1.46945369, 1.23868607, 1.27492909, 1.45822475,
       1.44343259, 1.37030272, 1.27159057, 1.41480156, 1.31839641,
       1.2602134 , 1.49445775, 1.36250612, 1.36037805, 1.48944692,
       1.36633722, 1.46092774, 1.26192933, 1.31081956, 1.44045039,
       1.43619558, 1.35745593, 1.37875618, 1.36832827, 1.40582829,
       1.45541534, 1.46230228, 1.39713543, 1.4283267 , 1.24673843,
       1.49018746, 1.31574809, 1.27697302, 1.23404605, 1.44066638,
       1.30743688, 1.31837578, 1.32571474, 1.38833799, 1.46741004,
       1.23859831, 1.27314858, 1.369813  , 1.26028276, 1.25370517,
       1.35393684])

In [ ]:
import matplotlib.pyplot as plt
import seaborn as sns

from sklearn.metrics import accuracy_score, precision_score, recall_score

# using the current state of your dataset,
# find out which model yields maximum accuracy and recall
# those imported libraries shall help you with that

### Now, you should be ready to submit !

In [ ]:
# As you know, we are using Kaggle.
# So make sure that you (as a team leader) had added every team member to your team inside the competition
# Next, you need to assess your model on the testing dataset (i.e bricolo_company_test.csv)
# you are required to predict the still_working value for each row

# Once done, you need to submit a csv sheet having the following format:
# two columns: id and still_working
# id means the id of that row in the testing dataset
# still_working is the predicted value (either 0 or 1)
# the following sample submission code shall help:
# (We are assuming that the testing dataset is cleaned and loaded in the variable X_test)

y_pred = model.predict(X_test)

# test_data is the variable holding the testing data
my_submission = pd.DataFrame({'id':test_data.id, 'still_working': y_pred })
my_submission.to_csv('submission.csv', index=False)

# Now, you've got to submit submission.csv